body {
  background-color: #112d4e;
  color: #f9f7f7;
}

.tag, .category {
  margin: 3px;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #3f72af;
  display: inline-block;
}

.tag:hover, .category:hover {
  cursor: pointer;
  opacity: 0.8;
}

#home-title {
  font-family: 'Pacifico', cursive;
}
