body {
  background-color: #112d4e;
  color: #f9f7f7;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #dbe2ef;
}

li {
  text-decoration: none;
  list-style-type: none;
}



.tag, .category {
  margin: 3px;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #3f72af;
}

.tag:hover, .category:hover {
  cursor: pointer;
  opacity: 0.8;
}

.home-title {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}
