body {
  background-color: #112d4e;
  color: #f9f7f7;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #dbe2ef;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.category-container {
  margin-top: 12px;
  text-align: center;
}

.tag-container {
  margin-top: 12px;
  text-align: center;
}

.article-container {
  margin-top: 12px;
  text-align: center;
}

.tag, .category {
  margin: 3px;
  padding: 10px 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #3f72af;
  display: inline-block;
  font-family: "Helvetica Neue";

}

.tag:hover, .category:hover {
  cursor: pointer;
  opacity: 0.8;
}

.title {
  margin-top: 5%;
  font-family: "Helvetica Neue";
  font-size: 2rem;
  text-align: center;
}

.article {
  padding: 0.5rem 0.8rem;
  background-color: #3f72af;
  font-size: 1rem;
  border-radius: 5px;
  font-family: "Helvetica Neue";
  text-align: left;
  margin-bottom: 0.8rem;
}

.article:hover {
  cursor: pointer;
  opacity: 0.8;
}

.article div:first-child {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.article div:not(:first-child) {
  color: lightgray;
}

.nav-bar-container {
  position: relative;

}

.nav-links-top-right {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.home-title {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  margin-left: 5%;
}

.nav-links-top-right a {
  font-size: 1.5rem;
  border-left: solid 1px white;
  padding: 0 10px;
}
.nav-links-top-right a:first-child{
  border-left: none;
}

.article-cont {
  padding: 2rem;
}

#article-date {
  margin-left: 0.5rem;
  color: lightgray;
}

#article-author {
  font-size: 20px;
}

#article-title {
  color: #DBE2EF;
}
